html,body{
    margin: 0;
    padding: 0;
}
.background-menu.show,
.background-modal.show{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.container{
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: auto;
}
header{
    display: flex;
    justify-content: center;
    height: 90px;
    background-color: #eee;
}
header .menu{
    margin: 25px;
    display: none;
    cursor: pointer;
}
header .menu .button{
    width: 40px;
    height: 40px;
    padding: 2px 5px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ddd;
}
header .menu .button .line{
    border: 2px solid #000;
    width: 100%;
    max-width: 22px;
    margin: 6px auto;
}
.modal span.closemenu{
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    right: 15px;
    cursor: pointer;
}
.modal{
    padding: 30px;
    width: 100%;
    max-width: 768px;
    height: 557px;
    background-color: #fff;
    border-radius: 16px;
    position: fixed;
    display: none;
    margin: 100px auto;
    left: calc((100% - 768px) / 2);
    z-index: 2;
    top: 100px;
    overflow: auto;
}
.modal.show{
    display: block;
}
header #menu-list ul{
    padding: 0;
    margin: 0;
    margin-top: 225px;
}
header #menu-list ul li{
    list-style: none;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
header .logo{
    width: 200px;
}
header .logo figure{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
header .logo figure img{
    width: 100%;
    margin: auto;
    height: 100%;
}
p{
    text-align: justify;
}
article{
    margin: 2rem;
}

button{
    width: 100%;
    max-width: 260px;
    padding: 10px 20px;
    font-weight: 600;
    display: block;
    margin: auto;
}

@media (max-width: 1440px) {

}
@media (max-width: 768px) {
    header .menu {
      display: block;
    }
    .modal{
        margin: 50px 20px;
        box-sizing: border-box;
        width: calc(100% - 40px);
        left: 0;
        top: 50px;
    }
}
@media (max-width: 320px) {
    header .menu {
      display: block;
    }
    .modal{
        height: 280px;
    }
    header #menu-list ul{
        margin-top: 85px;
    }
}